<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ActiveApp" value="Console"/>
    <add key="language" value="english"/>
    <add key="disambiguation_rules_path" value="rules/disambiguationRules.xml"/>
    <add key="collocation_rules_path" value="rules/collocationRules.xml"/>
    <add key="tmp_dir_path" value="C:\Windows\Temp"/>
    <add key="pckimmo_exec_path" value="PC-KIMMO/pckimmo32.exe"/>
    <add key="pckimmo_rules_dir_path" value="PC-KIMMO"/>
    <add key="builddate" value="04.05.2007"/>
    <add key="buildtime" value="12\:11\:04"/>
    <add key="Logging" value="true"/>
    <add key="TaksUserId" value="62"/>
  </appSettings>

</configuration>